<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <!-- 引入图标样式 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/simple-line-icons@2.5.5/css/simple-line-icons.css" rel="stylesheet">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="{% static 'css/components.chunk.css' %}">
    <link rel="stylesheet" href="{% static 'css/umi.css' %}">
    <script src="{% static 'js/custom.js' %}"></script>
    <script src="{% static 'js/echarts.min.js' %}"></script>

    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
    <meta name="theme-color" content="#343a40">

    <title>智慧医疗问答系统</title>
</head>

<body>

    <div id="root">
        <div id="page-container" class="null sidebar-o sidebar-dark page-header-dark side-scroll page-header-fixed main-content-boxed side-trans-enabled false">
            <div class="v2board-nav-mask" style="display: none;"></div>
            <nav id="sidebar">
                <div class="smini-hidden bg-header-dark">
                    <div class="content-header justify-content-lg-center bg-white-10"><a class="font-size-lg text-white" href="/medical/homepage/"><span class="text-white-75">智慧医疗问答系统</span></a>
                        <div class="d-lg-none"><a class="text-white ml-2" data-toggle="layout" data-action="sidebar_close" href="javascript:void(0);"><i class="fa fa-times-circle"></i></a></div>
                    </div>
                </div>
                <div class="content-side content-side-full">
                    <ul class="nav-main">
                        <li class="nav-main-heading">欢迎光临</li>
                        <li class="nav-main-item"><a class="nav-main-link false" href="/medical/homepage/"><i class="nav-main-link-icon si si-book-open"></i><span class="nav-main-link-name">主页</span></a></li>
                        <li class="nav-main-item"><a class="nav-main-link false" href="/medical/instruction/"><i class="nav-main-link-icon si si-book-open"></i><span class="nav-main-link-name">使用说明</span></a></li>
                        <li class="nav-main-heading">功能</li>
                        <li class="nav-main-item"><a class="nav-main-link false" href="/medical/guess/"><i class="nav-main-link-icon si si-question"></i><span class="nav-main-link-name">猜你所想</span></a></li>
                        <li class="nav-main-item"><a class="nav-main-link false" href="/medical/microscope/"><i class="nav-main-link-icon si si-question"></i><span class="nav-main-link-name">病痛显微镜</span></a></li>
                        <li class="nav-main-item"><a class="nav-main-link false" href="/medical/inquiry/"><i class="nav-main-link-icon si si-question"></i><span class="nav-main-link-name">龙灵问疾</span></a></li>
                        <li class="nav-main-item"><a class="nav-main-link false" href="/medical/inquiryplus/"><i class="nav-main-link-icon si si-question"></i><span class="nav-main-link-name">龙灵问疾（Plus Beta）</span></a></li>
                        <li class="nav-main-heading">用户</li>
                        <li class="nav-main-item"><a class="nav-main-link active"><i class="nav-main-link-icon si si-users"></i><span class="nav-main-link-name">用户中心</span></a></li>
                        <li class="nav-main-heading">关于</li>
                        <li class="nav-main-item"><a class="nav-main-link false" href="/medical/illustration/"><i class="nav-main-link-icon si si-book-open"></i><span class="nav-main-link-name">说明</span></a></li>

                    </ul>
                </div>
                <div class="v2board-copyright">智慧医疗问答系统 v1.0.0</div>
            </nav>
            <header id="page-header">
                <div class="content-header">
                    <div class="sidebar-toggle" style="display: none;"><button type="button" class="btn btn-primary mr-1 d-lg-none"><i class="fa fa-fw fa-bars"></i></button></div>
                    <div class="v2board-container-title text-white">用户中心</div>
                    <div>
                        <div class="dropdown d-inline-block">
                            <button type="button" class="btn btn-primary dropdown-button">
                                <i class="far fa fa-user-circle"></i>
                                <span class="d-none d-lg-inline ml-1">{{ user_info.username }}</span>
                                <i class="fa fa-fw fa-angle-down ml-1"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right p-0 false">
                                <div class="p-2">
                                    <a class="dropdown-item" href="/medical/user/">
                                        <i class="far fa-fw fa-user mr-1"></i> 用户中心
                                    </a>
                                    <a class="dropdown-item" href="/medical/login/">
                                        <i class="far fa-fw fa-arrow-alt-circle-left mr-1"></i> 登出
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>

            <main id="main-container">
                <div class="content content-full">
                    <div class="row mb-3 mb-md-0">
                        <div class="col-md-12">
                            <div class="block block-rounded ">
                                <div class="block-header block-header-default">
                                    <h3 class="block-title">修改密码</h3>
                                    <div class="block-options"></div>
                                </div>
                                <div class="block-content">
                                    <div class="row push">
                                        <div class="col-lg-8 col-xl-5">
                                            <form method="post" action="/medical/user/">
                                                {% csrf_token %}
                                                <div class="form-group"><label>新密码</label><input type="password" class="form-control" name="password" placeholder="请输入新密码"></div>
                                                <button type="submit" class="ant-btn ant-btn-primary"><span>保 存</span></button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</body>

</html>